#black_slider{
    width: 100%;
    height: 27px;
    background-color: black;
    color: white;
    margin-top: 100px;
    font: 12px Futura,sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    justify-content: center;
   padding-top: 10px;
   }

   #parent_div{
    width: 95%;
    height: 800px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    gap: 60px;
    margin-top: 50px;
}
#child_1{
    width: 200px;
    height: 500px;
    /* border: 1px solid teal; */
}
#child_2{
    width: 500px;
    height: 700px;
    /* border: 1px solid teal; */
}
#child_3{
    width: 700px;
    /* height: 8 00px;
    border: 1px solid teal; */
    margin-left: 130px;

}
#child_img2{
    margin-left: 100px;
    width: 400px;
    height: 500px;
   
}
#img1,#img2,#img3,#img4{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-top: 10px;
    margin-left: 50px;

}
#img1_1,#img2_2,#img3_3,#img4_4{
    width: 100%;
    height: 100%;
}
#price_div1{
    display: flex;
    width: 300px;
    height: 50px;
    /* border: 1px solid black; */
    gap: 20px;
}
#price_div2{
    text-decoration: line-through;
}
#add_to_cart{
    
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    margin-left: px;
    letter-spacing: 0.3em;
    padding-left: 120px;
    padding-right: 120px; 
}